---
title: A Digital Handbook on Christian Parenting
layout: layouts/home.njk
description: Parenting is a journey. Let's take it together.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
 For Christian parents who want to level up their parenting skills in a good vibes community with me, your biggest fan. 
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
